<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout }">
<head>
    <style>
    textarea:focus {
        outline: none;
    }

    #btnSave, #btnRelease {
        margin: 10px;
        background-color: white;
        border: none;
        color: black;
    }
    </style>
</head>
<div layout:fragment="content">
    <div style="width:100%; margin: auto;"><!-- main content -->
        <div style="width:75%; margin: auto;">
            <div>
                <form id="formCreate">
                    <div style="margin-top:50px; border-bottom: thin solid silver;">
                        <textarea id="title" name="title" style="width: 100%; border: none; font-size: 30px; height: 30px; resize: none;" placeholder="제목을 입력하세요" autofocus></textarea>
                    </div>
                    <div>
                        <textarea id="content" name="content" style="width: 100%; height:450px; padding-top: 10px; padding-bottom:50px; font-size: 15px; border: none; resize: none; margin-top: 15px; line-height: 1.5em;" placeholder="내용을 입력하세요"></textarea>
                    </div>
                    <input id="status" name="status" type="hidden" value="1"/>
                </form>
                <div style="text-align: right;">
                    <button id="btnSave" type="button" style="padding-bottom: 3px; border-bottom:thin solid gray; color:gray;">저장하기</button>
                    <button id="btnRelease" type="button" style="padding-bottom: 3px; border-bottom:thin solid black; color:black;">발행하기</button>
                </div>
            </div>
        </div>
    </div><!-- main content end -->
</div>
<th:block layout:fragment="script">
    <script>
        const formCreate = document.querySelector('#formCreate');
        const btnSave = document.querySelector('#btnSave');

        const title = document.querySelector('#title');
        const content = document.querySelector('#content');
        const status = document.querySelector('#status');

        btnSave.addEventListener('click', function () {
            if (title.value == '') {
                alert('제목은 필수사항입니다!');
                return;
            }
            status.value = 0;
            formCreate.action = 'create';
            formCreate.method = 'post';
            formCreate.submit();
        });

        const btnRelease = document.querySelector('#btnRelease');
        btnRelease.addEventListener('click', function () {
        if (title.value == '' || content.value == '') {
                alert('제목과 내용을 모두 채워주세요!');
                return;
            }
            formCreate.action = '/create';
            formCreate.method = 'post';
            formCreate.submit();
        })
    </script>
</th:block>
</html>
