<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

  <style>

	input:focus {
		outline: none;
	}

	input {
		width: 90%;
		border: none;
		vertical-align: middle;
		font-size: 15px;
	}

	.info {
		width:400px;
		border: thin solid silver;
		margin: auto;
		padding: 14px 17px;
	}

	i {
		font-size: 21px;
		color: silver;
		vertical-align: middle;
	}
</style>
</head>
<body>
  <div style="text-align: center; width: 100%;">
    <div style="width:458px; height:255px; padding: 20px 28px; margin: auto;">
      <h2>LOGIN</h2>
      <div style="margin-top: 30px;">
        <form id="formLogin">
          <div class="info" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <i class="bi bi-person"></i>
            <input id="username" name="username" type="text" placeholder="아이디" autofocus/>
          </div>
          <div class="info" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: none;">
            <i class="bi bi-shield-lock"></i>
            <input id="password" name="password" type="password" placeholder="비밀번호"/>
          </div>
        </form>
        <div>
          <button id="btnLogin" style="width:215px; height: 52px; border:none; background-color: black; color: white; border-radius: 5px; margin: 10px 0;">로그인</button>
          <a th:href="@{ /join }"><button style="width:215px; height: 52px; border:none; background-color: gray; color: black; border-radius: 5px; margin: 10px 0;">회원가입</button></a>
        </div>
      </div>
    </div>
  </div>

</div><!-- fragment end -->

  <script>
	const formLogin = document.querySelector('#formLogin');
	const btnLogin = document.querySelector('#btnLogin');
	btnLogin.addEventListener('click', function() {
		const username = document.querySelector('#username').value;
		const password = document.querySelector('#password').value;

		if (username == '' || password == '') {
			alert('로그인 정보를 모두 입력해주세요!');
			return;
		}

		formLogin.action = '/login';
		formLogin.method = 'post';
		formLogin.submit();
	});
	</script>
</body>
</html>