<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

  <style>
	.contents {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: gray;
	}

	#nav_bar {
        margin: 10px;
        border-bottom:3px solid black;
        margin:20px 0;
        padding:20px 5px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 2px 1px 4px silver;
    }

    #nav_bar a {
        padding: 0 25px;
        color: black;
    }

    a {
        text-decoration: none;
    }
</style>
</head>
<body>
  <div style="width: 75%; margin: auto;">
    <div id="nav_bar"><!-- nav bar start-->
      <a th:href="@{homepage(member_id=${member_id})}">Home</a>
      <a th:href="@{create(member_id=${member_id})}">Create</a>
      <a href="/" style="color: red;">Logout</a>
    </div><!-- nav bar end-->
    <div style="width:100%; margin-bottom: 15px;">
      <button id="btnChangeRelease" style="width: 49%; display: inline-block; padding: 15px 0; text-align: center; font-size: 27px; border:none; background-color:white; border-bottom: thin solid black;">발행한 글 <span></span></button>
      <button id="btnChangeSave" style="width: 49%; display: inline-block; padding: 15px 0; text-align: center; font-size: 27px; border:none; background-color:white; border-bottom: thin solid silver; color: silver;">저장된 글 <span></span></button>
    </div>

    <div id="releaseList"><!-- release list -->
      <div th:each=" reviewRelease : ${ reviewRelease }" style="margin: 10px 0; border-bottom: thin solid silver; padding: 25px;">
        <a th:href="@{ /detail?review_id={review_id} (review_id = ${ reviewRelease.id }) }">
          <div style="display: inline-block; width: 75%; vertical-align: top;">
            <div class="contents" th:text="${ reviewRelease.title }" style="font-size: 21px; padding-bottom: 5px;"></div>
            <div class="contents" th:text="${ reviewRelease.content }" style="color: silver; padding-bottom: 35px;"></div>
            <div style="font-size: small;">
              <i class="bi bi-alarm" style="margin-right: 3px;"></i><span th:text="${ #temporals.format(reviewRelease.created_time, 'yyyy/MM/dd hh:mm') }"></span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div id="saveList" style="display: none;"><!-- save list -->
      <div th:each=" reviewSave : ${ reviewSave }" style="margin: 10px 0; border-bottom: thin solid silver; padding: 25px;">
        <a th:href="@{ /modify?review_id={review_id} (review_id = ${ reviewSave.id }) }">
          <div style="display: inline-block; width: 80%; vertical-align: top;">
            <div class="contents" th:text="${ reviewSave.title }" style="font-size: 21px; padding-bottom: 5px;"></div>
            <div class="contents" th:text="${ reviewSave.content }" style="color: silver; padding-bottom: 35px;"></div>
            <div style="font-size: small;">
              <i class="bi bi-alarm" style="margin-right: 3px;"></i><span th:text="${ #temporals.format(reviewSave.created_time, 'yyyy/MM/dd hh:mm') }"></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

<script>
  const btnChangeRelease = document.querySelector('#btnChangeRelease');
  const btnChangeSave = document.querySelector('#btnChangeSave');

  btnChangeRelease.addEventListener('click', () => {
      document.querySelector('#releaseList').style.display = '';
      document.querySelector('#saveList').style.display = 'none';
      document.querySelector('#btnChangeSave').style.color = 'silver';
      document.querySelector('#btnChangeRelease').style.color = 'black';
      document.querySelector('#btnChangeRelease').style.borderBottom = 'thin solid black';
      document.querySelector('#btnChangeSave').style.borderBottom = 'thin solid silver';
  })

  btnChangeSave.addEventListener('click', () => {
      document.querySelector('#saveList').style.display = '';
      document.querySelector('#releaseList').style.display = 'none';
      document.querySelector('#btnChangeSave').style.color = 'black';
      document.querySelector('#btnChangeRelease').style.color = 'silver';
      document.querySelector('#btnChangeSave').style.borderBottom = 'thin solid black';
      document.querySelector('#btnChangeRelease').style.borderBottom = 'thin solid silver';
  })

  function deleteUser() {
      const result = confirm('정말 탈퇴하시겠습니까? 탈퇴하시면 작성된 글들은 모두 삭제됩니다.');
      const idName = document.querySelector('#idName').innerText;
      if (result) {
          window.location.href = '/deleteUser?idName=' + idName;
      }
  }
</script>

</body>
</html>