<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout }">
<head>
  <style>
	.contents {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: gray;
	}
</style>
</head>
<div layout:fragment="content">
  <div style="width: 75%; margin: auto;">
    <div style="width:100%; margin-bottom: 15px;">
      <button id="btnChangeRelease" style="width: 49%; display: inline-block; padding: 15px 0; text-align: center; font-size: 27px; border:none; background-color:white; border-bottom: thin solid black;">발행한 글 <span></span></button>
      <button id="btnChangeSave" style="width: 49%; display: inline-block; padding: 15px 0; text-align: center; font-size: 27px; border:none; background-color:white; border-bottom: thin solid silver; color: silver;">저장된 글 <span></span></button>
    </div>

    <div id="releaseList"><!-- release list -->
      <div th:each=" reviewRelease : ${ reviewRelease }" style="margin: 10px 0; border-bottom: thin solid silver; padding: 25px;">
        <a th:href="@{ /detail?review_id={review_id} (review_id = ${ reviewRelease.id }) }">
            <div class="contents" th:text="${ reviewRelease.title }" style="font-size: 21px; padding-bottom: 5px;"></div>
            <div class="contents" th:text="${ reviewRelease.content }" style="color: silver; padding-bottom: 35px;"></div>
            <div style="font-size: small; color: gray;">
              <span th:text="${ #temporals.format(reviewRelease.created_time, 'EEE, d MMM yyyy HH:mm', new java.util.Locale('en', 'US')) }"></span>
            </div>
        </a>
      </div>
    </div>

    <div id="saveList" style="display: none;"><!-- save list -->
      <div th:each=" reviewSave : ${ reviewSave }" style="margin: 10px 0; border-bottom: thin solid silver; padding: 25px;">
        <a th:href="@{ /detail?review_id={review_id} (review_id = ${ reviewSave.id }) }">
            <div class="contents" th:text="${ reviewSave.title }" style="font-size: 21px; padding-bottom: 5px;"></div>
            <div class="contents" th:text="${ reviewSave.content }" style="color: silver; padding-bottom: 35px;"></div>
            <div style="font-size: small; color: gray;">
              <span th:text="${ #temporals.format(reviewSave.created_time, 'EEE, d MMM yyyy HH:mm', new java.util.Locale('en', 'US')) }"></span>
            </div>
        </a>
      </div>
    </div>
  </div>
</div><!-- fragment end -->
<th:block layout:fragment="script">
  <script>
    const btnChangeRelease = document.querySelector('#btnChangeRelease');
    const btnChangeSave = document.querySelector('#btnChangeSave');

    btnChangeRelease.addEventListener('click', () => {
        document.querySelector('#releaseList').style.display = '';
        document.querySelector('#saveList').style.display = 'none';
        document.querySelector('#btnChangeSave').style.color = 'silver';
        document.querySelector('#btnChangeRelease').style.color = 'black';
        document.querySelector('#btnChangeRelease').style.borderBottom = 'thin solid black';
        document.querySelector('#btnChangeSave').style.borderBottom = 'thin solid silver';
    })

    btnChangeSave.addEventListener('click', () => {
        document.querySelector('#saveList').style.display = '';
        document.querySelector('#releaseList').style.display = 'none';
        document.querySelector('#btnChangeSave').style.color = 'black';
        document.querySelector('#btnChangeRelease').style.color = 'silver';
        document.querySelector('#btnChangeSave').style.borderBottom = 'thin solid black';
        document.querySelector('#btnChangeRelease').style.borderBottom = 'thin solid silver';
    })

    function deleteUser() {
        const result = confirm('정말 탈퇴하시겠습니까? 탈퇴하시면 작성된 글들은 모두 삭제됩니다.');
        const idName = document.querySelector('#idName').innerText;
        if (result) {
            window.location.href = '/deleteUser?idName=' + idName;
        }
    }
  </script>
</th:block>
</html>